.user-action-button {
    padding: 8px 16px;
    font-weight: 600;
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  
  .user-action-button.active {
    border: 2px solid #38a169;   
    color: #38a169;
  }
  
 
  .user-action-button.suspended {
    border: 2px solid #e53e3e;   
    color: #e53e3e;
  }
  
  .user-action-button:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
  